<h1 class="display-4 text-center"><a href="/dashboard"><i class="fas fa-dog"></i></a>Park Details</h1>

<h2>{{dogparkData.name}}</h2>

<p>Address: {{dogparkData.address}}</p>
<h5>Amenities :</h5>
<ul> 

{{#if dogparkData.facilities.waterSupply}}
   <li>There is a water supply</li>
{{else}}
   <li>There is no water supply</li>
{{/if}}

{{#if dogparkData.facilities.seatingSpaces}}
  <li>There are seating spaces</li>
{{else}}
  <li>There are no seating spaces</li>
{{/if}}
{{#if dogparkData.facilities.smallDogsArea}}
  <li>There is a separated area for small dogs / playing with toys</li>
{{else}}
  <li>There is no separated area for small dogs</li>
{{/if}}
</ul>
{{#if dogparkData.ground}}
<p>Ground : {{dogparkData.ground}}</p>
{{/if}}
{{#if dogparkData.isFenced}}
<p>The park is fenced</p>
{{/if}}

<nav class="nav nav-pills nav-fill">
{{!-- <a href="/dogparks/{{dogparkData._id}}/edit">Edit</a> --}}
<a href="/dogparks/{{dogparkData._id}}/edit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit</a>
{{!-- <button type="button" class="btn btn-outline-warning" href="/dogparks/{{dogparkData._id}}/edit">Edit</button> --}}

<form action="/dogparks/{{dogparkData._id}}/delete" method="POST">
  <button class="btn btn-outline-danger" type="submit">Delete</button>
  </nav>

<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="#"><a href="/dogparks"><i class="fas fa-dog fa-2x"></i></a>
    </li>
</ul>